<!-- Validation failure messages -->
<% if @leader.errors.any? %>
  <% @leader.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Leader</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_leader" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @leader.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for group_id -->
      <div class="form-group">
        <label for="group_id" class="control-label">
          Group
        </label>

        <input type="text" id="group_id" name="group_id" placeholder="Group" class="form-control" value="<%= @leader.group_id %>">
      </div>

      <button class="btn btn-success">
        Create Leader
      </button>
      or
      <a href="/leaders">Cancel</a>
    </form>
  </div>
</div>
